{%extends 'base.html'%}
{%block mainblock%}

<div class="container">
    <form>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-5"><label>Start date</label>{{form.start_date}}</div>
                <div class="col-5"><label>End_date</label>{{form.end_date}}</div>
                <div class="col-2"><button type="submit" class="btn btn-outline-success mt-4">Fetch</button></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    </form>

    <div class="row">
        <div class="col-3"></div>
        <div id="total_box" class="col-6 text-center my-4 border border-dark  p-3 shadow rounded bg-success fw-bold">
            
            <label>Total amount:</label>
            {{total}}
        </div>
        <div class="col-3"></div>
    </div>







    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-stripped table-dark ">
                <tr>
                    <th>Title</th>
                    <th>amount</th>
                    <th>payment method</th>
                    <th>Action</th>
                </tr>
                {%for t in transactions%}
                <tr>
                    <td>{{t.title}}</td>
                    <td>{{t.amount}}</td>
                    <td>{{t.payment_method}}</td>
                    <td><a href="{%url 'transaction-edit' t.id%}" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{%url 'transaction-delete' t.id%}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>


{%endblock%}